<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Wybrana Osoba" %></h1>
</div>
<div class="row">
  <div class="span8">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @book.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
      <dd><%= @book.lastname %></dd>
      <dt><strong><%= model_class.human_attribute_name(:telephone) %>:</strong></dt>
      <dd><%= @book.telephone %></dd>
      <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
      <dd><%= @book.city %></dd>
      <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
      <dd><%= @book.address %></dd>
    </dl>

    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
      books_path, :class => 'btn'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_book_path(@book), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      book_path(@book),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
    </div>
  </div>
  <div class="span4">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?center=#{@book.latitude},#{@book.longitude}&zoom=15&markers=#{@book.latitude},#{@book.longitude}&size=400x350&sensor=false" %>
  </div>
</div>
